* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rgb(52, 170, 170); */
    background-image: url(/Calendar/img/paperfolds.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 4rem;
}
main .container {
    background-color: azure;
    padding: 5px 0;
    margin-bottom: 2rem;
    text-align: center;
}
#mainTitle {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    color: rgb(87, 182, 182);
    letter-spacing: 5px;
    text-transform: uppercase;
}
.task-main {
    background-color: white;
    min-height: 800px;
}
.container .list .left-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    min-height: 100px;
    color: rgb(52, 170, 170);
}
.container .list .left-2 {
    background-color: rgba(214, 245, 246, 0.988);
    min-height: 700px;
}
.container .list h3 {
    text-transform: uppercase;
}
.task-main .info-div {
    margin: -5px 0;
    padding: 2rem 0;
    background-color: rgba(168, 170, 170, 0.278);

}
.container .info {
    margin: 0;
    padding: 0;
    background-color: rgba(168, 170, 170, 0);
    color: rgb(52, 170, 170);
}
.container .info h3 {
    margin: 2rem;
    text-transform: uppercase;
}
.container .info label {
    color: rgb(59, 58, 58);
}
.my-icon {
    cursor: pointer;
    padding-inline: 1.5rem;
    font-size: 1.5rem;
}
.my-icon.fas {
    color: rgb(204,50,22);
}
#btnToggle {
    background-color: rgb(234,218,115);
    padding: 9px 45px;
    border: none;
    border-radius: 50px;
    color: rgb(52, 170, 170);
}
#btnSave {
    background-color: rgb(234, 218, 115);
    padding: 9px 45px;
    border: none;
    border-radius: 50px;
    color: rgb(52,170,170);;
}
#floatingInput {
    height: 3.2rem;
}